#cd-timeline-service {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 4px;
        background: #ccc;
    }

    .cd-timeline-block {
        .cd-timeline-content {
            h2 {
                font-size: 22px !important;
                font-weight: 600;
                color: #333;
                margin-top: 0;
                padding-bottom: 10px;
                text-transform: uppercase;
            }

            p {
                font-family: "Dosis";
                font-size: 16px !important;
                color: #333;
                line-height: 24px;
            }
        }

        .service-box-content {
            padding: 20px;
        }
    }
}
