.cover {
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 0 #7cb14a, -1px 0 #7cb14a, 0 1px #7cb14a, 0 -1px #7cb14a;

    h2 {
        padding-top: 50px;
        font-size: 50px;
    }
    h3 {
        font-size: 20px;
    }
}

.cd-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    .cd-timeline-block {
        position: relative;
        overflow: hidden;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &::after {
            content: "";
            display: table;
            clear: both;
        }

        .cd-timeline-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 4px solid #fff;
            background-color: #eee;

            @media only screen and (min-width: 1170px) {
                width: 60px;
                height: 60px;
                left: 50%;
                margin-left: -30px;
                /* Force Hardware Acceleration in WebKit */
                -webkit-transform: translateZ(0);
                -webkit-backface-visibility: hidden;
            }

            &:hover {
                background-color: #98d361;
                cursor: pointer;
            }

            svg {
                display: block;
                width: 24px;
                height: 24px;
                position: relative;
                left: 50%;
                top: 50%;
                margin-left: -12px;
                margin-top: -12px;
            }
        }

        .cd-timeline-content {
            width: 40%;
            position: relative;
            margin-left: 60px;
            background-color: #eee;
            border-radius: 0.5em;
            text-align: right;

            @media only screen and (min-width: 1170px) {
                margin-left: 0;
                width: 45%;
            }

            &::before {
                @media only screen and (min-width: 1170px) {
                    display: none;
                }
            }

            &::after {
                content: "";
                display: table;
                clear: both;
            }
        }

        &:nth-child(even) {
            .cd-timeline-content {
                float: right;
                text-align: left;

                &::before {
                    top: 24px;
                    left: auto;
                    right: 100%;
                    border-color: transparent;
                    border-right-color: white;
                }
            }
        }
    }
}
