.contact-form {
    margin: 60px 15px 60px 15px;

    .ant-row {
        margin-bottom: 20px;

        input,
        textarea {
            font-family: "Dosis";
            border-color: #eee;
            border-width: 3px;
            &:focus {
                box-shadow: 0 0 10px #98d361;
                border-color: #98d361;
            }
            border-radius: 0;
        }
    }

    .send-button {
        background-color: #98d361;
        border-color: white;
        border-radius: 0;
        font-family: "Dosis";
        color: white;
        font-size: 18px;
        width: 25%;

        &:hover {
            border-color: #eee;
            color: white;
        }
    }
}

.about {
    margin: 60px 15px 60px 15px;
    text-align: left;
    font-family: "Dosis";
    font-size: 16px;

    h3 {
        text-transform: uppercase;
    }
}
