.header {
    background-color: #98d361;
    .logo {
        font-size: 30px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;

        span {
            font-size: 36px;
        }
    }

    .navbar {
        padding: 0px 125px;
        background-color: #98d361;
        height: 60px;
        line-height: 60px;

        .menu-item {
            color: white;
            margin: 0px;
            padding: 0px 20px;
            height: 100%;
            text-transform: uppercase;
            font-weight: 500;

            &:hover {
                background-color: white;
                color: #7cb14a;
            }
        }
    }
}
