.header {
    background-color: #98d361;
    min-height: 50px;
    line-height: 40px;

    .logo {
        font-size: 26px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;

        span {
            font-size: 34px;
        }
    }

    .navbar {
        padding: 0px 200px;
        background-color: #98d361;

        .menu-item {
            color: white;
            margin: 0px 10px;
            z-index: 210;

            &:hover {
                background-color: white;
                color: #7cb14a !important;
            }
        }
    }
}
