.intro {
    height: 500px;

    .intro-row {
        padding-top: 15%;
        font-size: 40px;
        color: white;

        .intro-icon {
            font-size: 60px;
            text-shadow: 1px 0 #7cb14a, -1px 0 #7cb14a, 0 1px #7cb14a, 0 -1px #7cb14a;

            a {
                text-decoration: none;
                color: white;
                font-family: "Dosis";
                &:hover {
                    color: #7cb14a;
                    cursor: pointer;
                }

                svg {
                    filter: drop-shadow(10px 10px 10px rgba(124, 177, 74, 0.5));
                }
            }
        }
    }
}
