.footer {
    background-color: #98d361;
    color: white;
    height: 60px;
    line-height: 60px;

    .row {
        .col {
            .button-top {
                width: 40%;
                background-color: #98d361;
                border-color: #b1e67f;
                border-width: 2px;

                &:hover {
                    background-color: #98d361;
                    border-color: #8bc655;
                }
            }
        }

        .copyright {
            text-align: left;
        }

        .social {
            text-align: right;

            .social-icon {
                padding: 0;
                width: 40px;
                height: 40px;
                background-color: #98d361;
                border-color: #b1e67f;
                border-width: 4px;
                margin: 0px 10px;
                color: white;

                &:hover {
                    border-color: #8bc655;
                }
            }
        }
    }
}
