.news {
    padding-top: 60px;
    height: 600px;

    .carousel-item {
        height: 600px;
        text-align: left;
        border-left: white solid 4px;
        border-right: white solid 4px;

        img {
            height: 600px;
        }
        .overlay {
            width: 25%;
            height: 25%;
            background-color: #dddddd83;
            z-index: 999;
            position: absolute;
            bottom: 0;
            padding: 5px;
            text-align: center;

            a {
                font-family: "Dosis";
                font-size: 16px;
                text-decoration: none;
                color: black;

                &:hover {
                    h3 {
                        color: #7cb14a;
                    }
                }
            }
        }
    }
    margin-bottom: 200px;
}
