@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

body {
  margin: 0;
  color: #333;
  background-color: #fff;
  font-family: "Dosis";
  font-size: 16px;
}
