@use "./configs/media-query.scss" as *;
@use "../node_modules/antd/dist/reset.css";
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

body {
  margin: 0;
  color: #333;
  background-color: #fff;
  font-family: "Dosis";
  font-size: 16px;
}

.headline {
  height: 150px;
  line-height: 150px;
  font-size: 35px;
  font-weight: 400;
  border-bottom: 4px solid #98d361;
  border-top: 4px solid #98d361;

  p {
    text-transform: uppercase;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 45px solid #98d361;
}
