.reviews {
    .review-item {
        text-align: left;

        .decorator {
            background-color: rgba(152, 211, 97, 0.5);
            position: absolute;
            width: 150%;
            top: 120px;
            z-index: 520;
            left: -5%;
        }

        .book-image {
            position: absolute;
            z-index: 510;
        }

        .review-detail {
            font-family: "Dosis";
        }

        .other-review {
            margin: 0px 10px;
            padding: 30px 5px 5px 5px;
            background-color: #eee;
            .reviewer {
                text-align: right;
            }
            border-radius: 10px;
            box-shadow: 5px 5px #aaa;
        }
    }
}
